#container{
    display: inline-grid;
    height: 640px;
    width: 640px;
}

.square{
    border:1px #efefef solid;
    text-align: center;
}

.selected{
    background-color: black;
    border:black;
}

.center{
    text-align: center;
    align-content: center;
}