#container{
    display: inline-grid;
    height: 560px;
    width: 560px;
}

.square{
    border:1px black solid;
    text-align: center;
}

.selected{
    background-color: beige;
}

.center{
    text-align: center;
}