#container{
    display: inline-grid;
    height: 560px;
    width: 560px;
    grid-template-columns: auto auto auto auto;
}

.square{
    border:1px black solid;
    text-align: center;
}

.selected{
    background-color: beige;
}
